@page
@model MascotaFeliz.App.Presentacion.Pages.ListModelDueño
@{
}
<h1>Aqui vamos a listar los Dueños</h1>

<table class="table">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Dirección</td>
        <td>País</td>
    </tr>
    
    @foreach (var dueño in Model.Dueños)
    {
        <tr>
            <td>@dueño.Id</td>
            <td>@dueño.Nombres</td>
            <td>@dueño.Apellidos</td>
            <td>@dueño.Direccion</td>
            <td>@dueño.Pais</td>
            <td>
                <a class="btn btn-primary table-btn"asp-page="./Details" asp-route-dueñoId="@dueño.Id">
                    <i class="fas fa-info-circle"></i>
                </a>         
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-dueñoId="@dueño.Id">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Delete" asp-route-dueñoId="@dueño.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>

        </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Adicionar un Dueño</a>

