@page
@model MascotaFeliz.App.Frontend.Pages.DeleteModel
@{
}
<h2>Eliminar la Visita Domiciliaria realizada el @Model.visitaDomiciliaria.FechaHoraVisita</h2>
<form method="post">
    <input type="hidden" asp-for="visitaDomiciliaria.Id" />
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.Temperatura"></label>
        <input type="number" asp-for="visitaDomiciliaria.Temperatura" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.Temperatura"></span>
    </div>
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.Peso"></label>
        <input type="number" asp-for="visitaDomiciliaria.Peso" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.Peso"></span>
    </div>
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.FrencuenciaCardiaca"></label>
        <input type="number" asp-for="visitaDomiciliaria.FrencuenciaCardiaca" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.FrencuenciaCardiaca"></span>
    </div>
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.FrencuenciaRespiratoria"></label>
        <input type="number" asp-for="visitaDomiciliaria.FrencuenciaRespiratoria" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.FrencuenciaRespiratoria"></span>
    </div>
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.FechaHoraVisita"></label>
        <input type="datetime-local" asp-for="visitaDomiciliaria.FechaHoraVisita" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.FechaHoraVisita"></span>
    </div>
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.EstadoAnimo"></label>
        <input asp-for="visitaDomiciliaria.EstadoAnimo" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.EstadoAnimo"></span>
    </div>
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.Medicinas"></label>
        <input asp-for="visitaDomiciliaria.Medicinas" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.Medicinas"></span>
    </div>
    <div class="form-group">
        <label asp-for="visitaDomiciliaria.Remision"></label>
        <input asp-for="visitaDomiciliaria.Remision" class="form-control">
        <span class="text-danger" asp-validation-for="visitaDomiciliaria.Remision"></span>
    </div>
    <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
<a asp-page="./List" class="btn-default">Lista de Visitas Domiciliarias </a>
